@import "config";

* {
  box-sizing: border-box;
}

header {
  position: fixed;
  z-index: 2;
  height: 60px;
  width: 100%;
  background: $secondary-color;

  .navbar {
    padding-left: 2rem;
    .nav-item {
      a {
        font-weight: 800;
      }
    }
  }
}

body {
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  line-height: 1.5;
}
a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 0rem;
  height: 100%;
  padding-top: 100px;

  .icons {
    text-align: -webkit-center;
    padding-top: 50px;
    a {
      padding: 2rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  .lg-heading {
    font-size: 5rem;
    text-align: center;
    font-weight: 600;
  }

  .sm-heading {
    text-align: center;
    font-weight: 600;
  }
}
